@import '../abstracts/variables';
@import '../components/box';
@import '../components/card';

.hiring-session {
    .box-heading {
        .btn {
            float: right;
            margin-top: -0.55em;
            margin-right: 1em;
        }
    }
    .container {
        position: relative;
        padding: 1em;
    }
    position: relative;
    .title-box {
        position: absolute;
        top: 25%;
        left: 25%;
    }
}