@import '../abstracts/variables';

.interview-candidate {
    width: 100%;
    height: 100%;
    margin: 0;
    .avatar {
        display: grid;
        justify-content: center;
    }
    .side-bar {
        background-color: $c-primary-2;
        display: grid;
        height: 100vh;
        position: fixed;

        .note {
            display: grid;
            justify-content: center;
        }
        .custom-layout {
            display: grid;
            align-content: space-around;
        }
    }
    .main-content {
        background-color: $bg-primary-1;
        .v-small-dialog__activator__content {
            display: block !important;
        }
    }
}