$c-grey-1: #222222;
$c-grey-2: #3B3B3B;
$c-grey-3: #515151;
$c-grey-4: #626262;
$c-grey-5: #7e7e7e;
$c-grey-6: #9e9e9e;
$c-grey-7: #b1b1b1;
$c-grey-8: #cfcfcf;
$c-grey-9: #e1e1e1;
$c-grey-10: #f7f7f7;

$c-primary-1: #0E5814;
$c-primary-2: #207227;
$c-primary-3: #2F8132;
$c-primary-4: #3F9142;

$c-secondary-1: #A84207;
$c-secondary-2: #CC4B00;

$c-text-dark-1: white;
$c-text-dark-2: $c-grey-10;
$c-text-dark-3: $c-grey-9;

$c-text-dark-color-2: #E3F9E5;
$c-text-dark-color-3: #C1EAC5;

$c-logo: $c-text-dark-1;
$c-text-1: $c-grey-1;
$c-text-2: $c-grey-2;
$c-text-3: $c-grey-3;


$bg-primary-1: $c-grey-10;
$bg-primary-2: $c-grey-9;

$c-icon: $c-text-dark-color-3; // #C1EAC5
$c-icon-active: #7cce7f;